header
{
	height: 65px;
	background-color: rgba(34, 49, 52, 0.9);
	width: 100%;
	margin:0;
}
header h1
{
	text-align: center;
	color: yellow;
	font-size: 40px;
}

#profile-img
{
	width: 170px;
	height: 200px;
	float: right;
	display: inline;
	margin-right: 30px;
	margin-top: 30px;
}
label
{
	font-weight: bold;
}
span
{
	font-weight: bold;
}